.landing-grid {
  width: 100vw;
  height: 100vh;
  display: grid;

  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-areas: "greeting" "web" "game" "product" "music";
}

.landing-greeting {
  grid-area: greeting;
}

.landing-web {
  grid-area: web;
  color: var(--clr-light-a);
  background-color: var(--clr-light-a);
}

.landing-web:hover,
.landing-web:focus {
  color: var(--clr-light);
  background-color: var(--clr-light);
}

.landing-game {
  grid-area: game;
  color: var(--clr-medium-a);
  background-color: var(--clr-medium-a);
}

.landing-game:hover,
.landing-game:focus {
  color: var(--clr-medium);
  background-color: var(--clr-medium);
}

.landing-product {
  grid-area: product;
  color: var(--clr-dark-a);
  background-color: var(--clr-dark-a);
}

.landing-product:hover,
.landing-product:focus {
  color: var(--clr-dark);
  background-color: var(--clr-dark);
}

.landing-music {
  grid-area: music;
  color: var(--clr-darkest-a);
  background-color: var(--clr-darkest-a);
}

.landing-music:hover,
.landing-music:focus {
  color: var(--clr-darkest);
  background-color: var(--clr-darkest);
}

.landing-greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-web,
.landing-game,
.landing-product,
.landing-music {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.white-block {
  background-color: white;
  padding: 1rem;
}
