.landing-grid {
  width: 100vw;
  height: 100vh;
  display: grid;

  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-areas: "greeting" "web" "game" "product" "music";
}

.landing-greeting {
  grid-area: greeting;
}

.landing-web {
  grid-area: web;
  background-color: var(--clr-light-a);
}

.landing-game {
  grid-area: game;
  background-color: var(--clr-medium-a);
}

.landing-product {
  grid-area: product;
  background-color: var(--clr-dark-a);
}

.landing-music {
  grid-area: music;
  background-color: var(--clr-darkest-a);
}

.landing-greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-web,
.landing-game,
.landing-product,
.landing-music {
  display: flex;
  justify-content: center;
  align-items: center;
}
