:root {
  /* Colors */
  --clr-teal: #0ff;

  --clr-light: #4dffff;
  --clr-medium: #00cccc;
  --clr-dark: #008080;
  --clr-darkest: #016464;

  --clr-light-a: #4dffffbb;
  --clr-medium-a: #00ccccbb;
  --clr-dark-a: #008080bb;
  --clr-darkest-a: #016464bb;
}
