/*
font-family: 'Audiowide', cursive;
font-family: 'Roboto', sans-serif; 
*/

* {
  font-family: "Audiowide", cursive;
}

body {
  background: url("./assets/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

p,
a,
ul,
li,
label,
input,
textarea {
  font-family: "Roboto", sans-serif !important;
  color: white;
}

.btn-info {
  background-color: #dad0c0;
  border-color: #9f7f4e;
  color: #373939;
  width: 120px;
  height: 60px;
}

.btn-info:hover {
  background-color: #9f7f4e;
  border-color: #7a5b45;
  color: #dad0c0;
}

.btn,
.form-control {
  border-radius: 0rem;
}

#contact-message {
  height: calc(1.5em + 0.75rem + 75px);
}

.filler {
  margin-bottom: 100px;
  padding-bottom: 100px;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.alert-info {
  background-color: #1a6e7c;
  border-color: #1c4974;
  color: white;
}

.contact-link {
  color: #baf0fa;
}

.contact-link:hover {
  color: #baf0fa;
  text-decoration: underline;
  text-shadow: 0 0 0.25rem #baf0fa;
}

.pink {
  color: #fae1fc;
  text-decoration: underline;
  text-shadow: 0 0 0.25rem #fae1fc;
}
