@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
/* 
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif; 
*/

* {
    font-family: 'Merriweather', serif;
}

h1 {
    font-weight: bold !important;
    color: turquoise;
}

.navbar-light .navbar-brand {
    font-weight: bold;
    background-color: turquoise;
    color: white !important;

}

p, .nav-link, label, input {
    font-family: 'Roboto', sans-serif; 
}

.btn-info {
    background-color: turquoise !important;
    border-color: turquoise !important;
    width: 120px;
    height: 60px;
}

.btn, .form-control {
    border-radius: 0rem;
}

#contact-message {
    height: calc(1.5em + .75rem + 75px);
}

.footer {
    text-align: center;
    color: teal;
    background-color: rgb(48, 48, 48);
}

.filler {
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.turquoise {
    color: turquoise;
    font-weight: bold;
}

.about {
    width: 300px;
    height: 300px;
}

.space {
    padding-bottom: 9rem;
}

.roboto {
    font-family: 'Roboto', sans-serif; 
}

.card {
    box-shadow: 2px 1px 10px -5px black;
}

.card:hover {
    cursor: pointer;
    box-shadow: 2px 1px 13px -5px black;
}